@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */


:root {
  --font-tajwal: 'Tajwal', sans-serif;


  --background: #cf2626;
  --foreground:#ffffff;
}
/* Apply the font globally */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-tajwal);
  
}

/* Specific classes if needed */
.tajwal-bold {
  font-family: var(--font-tajwal);
  font-weight: 700;
}

.tajwal-regular {
  font-family: var(--font-tajwal);
  font-weight: 400;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
